html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #e5d7d7;
    list-style: 2;
}

section {
    margin: 20px;
    padding: 80px;
    font-size: 25px;
    line-height: 72px;
}

.button {
    background-color: #ffb701;
    border-radius: 40px;
    margin: 60px;
    z-index: 5;
    position: relative;
    width: 40%;
    height: 200px
}

/* start styles header */
.header {
    width: 100%;
    min-height: 80px;
    background: #e6f0f9;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header .header-child {

    width: 100%;
    padding: 0 7% 0 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;


}

.header .header-child .image-header {
    width: 160px;
    height: 60px;
}

.header .header-child .recruitment.recruitment {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 50rem !important;
    font-size: 16px;
    font-weight: 500;
    background: #ffb701;
    color: white;
}

.header .header-child .col-1 {
    width: 30%;
}

.header .header-child .col-2 {
    width: 60%;
}

.header .header-child .col-3 {
    width: 10%;
}

.header .header-child .mobile {
    display: none;
}

.header .nav-link {
    list-style-type: none;
    display: flex;
    align-items: center;


}

.header .nav-link a {
    text-decoration: none;
    color: #17171d;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 20px;
}

/* end styles header */


/* start styles section-search */

.section-search {
    position: relative;
    overflow: hidden;
}

.section-search .popular-search .item {
    line-height: 1.5;
}

.section-search .popular-search .item a {
    height: 33.5px;
    background-color: #dae9f6;
    padding: 7px 17px;
    border-radius: 50px;
    font-size: 13px;

}

.section-search .pxp-hero-form-round form button col-4 {
    width: 54px;
    height: 54px;
    border: 0 none;
    margin-right: 13px;
    border-radius: 27px;
    color: #fff;
    background-color: #ffb701;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    transition-property: background-color;
}




/* end styles section-search */



/* start styles section-category-work */
.section-category-work .item-parent-job {
    background: #fff8ec;
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-items: center;
    justify-content: center;
    max-width: 1600px;

}

.section-category-work .item-parent-job .item-job {
    background: rgb(255, 255, 255);
    width: 23.5%;
    height: 351px;
    margin: 20px auto;
    border-radius: 30px;

}

.section-category-work .item-parent-job .item-job .job-card-top {
    /* background-color: red; */
    height: 155px;
    position: relative;
    padding: 7px 0;
    margin-top: 23px;
}

.section-category-work .item-parent-job .item-job .job-card-top .category-job {
    text-align: left;
    margin: 10px 0px 15px 0px;
    line-height: normal;
    padding: 0 20px;
    font-size: 14px;
}

.section-category-work .item-parent-job .item-job .job-card-top .title-job {
    text-align: left;
    margin: 30px 0 0 0;
    padding: 0;
    line-height: normal;
    font-size: 18px;
    padding: 0 20px;
    ;

}

.section-category-work .item-parent-job .item-job .job-card-top .info-job {
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-align: left;
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    bottom: 0;
    padding: 0 20px;

    font-size: 14px;
}

.section-category-work .item-parent-job .item-job .job-card-top .info-job span {

    margin-right: 30px;


}

.section-category-work .item-parent-job .item-job .job-card-bottom {
    /* background-color: rgb(189, 149, 149); */
    height: 96px;
    margin-top: 40px;
    display: flex;
    padding: 0 20px;
}

.section-category-work .item-parent-job .item-job .job-card-bottom .left {
    /* background-color: rgb(238, 227, 227); */
    width: 70%;
    height: 96px;

}

.section-category-work .item-parent-job .item-job .job-card-bottom .left p {
    line-height: normal;
    text-align: left;

}

.section-category-work .item-parent-job .item-job .job-card-bottom .left .date-ex {
    font-size: 13px;

}

.section-category-work .item-parent-job .item-job .job-card-bottom .left .money {
    font-size: 14px;
    font-weight: 500;

}

.section-category-work .item-parent-job .item-job .job-card-bottom .right {
    /* background-color: rgb(56, 18, 151);s */
    width: 30%;
    height: 96px;
}

.section-category-work .item-parent-job .item-job .job-card-bottom .image-item-job {
    width: 80px;
    height: 80px;
}

/* end styles section-category-work */


/* start styles section-job-directory */

.job-directory .table  {
    display: flex;
    margin-top: 60px;
    --bs-gutter-x: 1.5rem;
}
.job-directory .table .d1{

    background: #e6f0f9;
    width: 15%;
    height: 230px;
    text-align: center;
    border-radius: 30px;
}
.job-directory .table .d1 .home{
    font-size: 18px;
}
.job-directory .table .d1 .home .job{
    margin-top: 30px;
    font-size: 15px;
}
.job-directory .table .d1 .home .job .code{
    font-size: 14px;
    margin-top: -25px;
}
/* end styles section-job-directory */


/* start styles section-news */

.section-news .row{
    display: flex;
    justify-content: space-between;
    height: 29%;
   
}
.section-news .row .layout{
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    border: 1px solid;
    line-height: 1;
    box-sizing: border-box;
    width: 24%;
}
.section-news .row .layout .edm{
    height: 57px;
    border-radius: 16p;
}
.section-news .row .layout .edm .many{
     font-size: 14px;
}
.section-news .row .layout .edm .many .text-light{
    margin-top: -60px;
    font-size: 17px;

}
.section-news .row .layout .edm .many .text-light .pxp-text-light{
    font-size: 14px;
    margin-top: -30px;
    text-align: center;
    display: contents;

}
.section-news .row .layout .edm .many .text-light .pxp-text-light .mill{
    font-size: 15px;
    margin-top: 25px;
    font-weight: 500;

}
/* end styles section section-news */


/* start styles section-register */
.section-register .text .text-center {
 text-align: center;
}
.section-register .text .text-center.new {
    display: block;
    font-weight: 600;
    color: var(--pxpTextColor);
    font-size: 18px;
    transition: var(--pxpHoverTransition);
    transition-property: color;
    text-decoration: none;
    padding: 21px;
}
.section-register .text .text-center.new .dumbbell  {
    font-size: 13px;
    padding: 27px;
    text-align: center;
}
.section-register .text .text-center.new .dumbbell .akay

.text-light {
    margin-top: -60px;
    font-size: 17px;
}
.cafe {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
}
.o {
    text-align: center;
    margin: -1%;
    font-size: 14px;
}
.pxp-text-light {
    font-size: 14px;
    margin-top: -30px;
    text-align: center;
    display: contents;

}
.dumbbell {
    font-size: 13px;
    padding: 27px;
}

.new {
    display: block;
    font-weight: 600;
    color: var(--pxpTextColor);
    font-size: 18px;
    transition: var(--pxpHoverTransition);
    transition-property: color;
    text-decoration: none;
    padding: 21px;

}

.item-new {
    border: 1px solid;
    width: 26%;
    line-height: 1;
    border-radius: 30px;
    height: 550px;
    margin: 10px;
}


.input-group {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    height: 50px;
    border-radius: 30px;
    padding: 16px 20px;
}
.button {
    background: yellow;

}

.text-center {
    text-align: center;
}


/* Các kiểu cho điện thoại di động nhỏ (nhỏ hơn 480px) */
@media (max-width: 480px) {
    .header .header-child {
        width: 100%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .header .header-child .col-1 {
        width: 100%;
    }

    .header .header-child .col-2 {
        display: none;
    }

    .header .header-child .col-3 {
        display: none;
    }

    .header .header-child .mobile {
        display: block;
    }



}

/* Các kiểu cho điện thoại di động trung bình (từ 481px đến 767px) < 767 */
@media (min-width: 481px) and (max-width: 767px) {
    .header .header-child {
        width: 100%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .header .header-child .col-1 {
        width: 100%;
    }

    .header .header-child .col-2 {
        display: none;
    }

    .header .header-child .col-3 {
        display: none;
    }

    .header .header-child .mobile {
        display: block;
    }

}

/* Các kiểu cho máy tính bảng nhỏ (từ 768px đến 1024px) < 1024 */
@media (min-width: 767px) and (max-width: 1024px) {}

/* Các kiểu cho máy tính bảng lớn (từ 1025px đến 1280px) */
@media (min-width: 1024px) and (max-width: 1280px) {
    body {
        font-size: 18px;
        background-color: lightblue;
    }
}

/* Các kiểu cho máy tính xách tay và máy tính để bàn nhỏ (từ 1281px đến 1440px) */
@media (min-width: 1280px) and (max-width: 1440px) {
    body {
        font-size: 19px;
        background-color: lightgreen;
    }
}

/* Các kiểu cho máy tính xách tay và máy tính để bàn trung bình (từ 1441px đến 1920px) */
@media (min-width: 1440px) and (max-width: 1920px) {
    body {
        height: 20%;
        font-size: 20px;
        background-color: #e6f0f9
    }
}

/* Các kiểu cho màn hình lớn (trên 1920px) */
@media (min-width: 1920px) {
    body {
        font-size: 21px;
        background-color: lightcyan;
    }

}